.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.column {
  float: left;
  width: 50%;
}
.row {
  margin: 5%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* .submitRatingButton {
  width: 100;
  height: 30;
} */
.button__container {
  margin-top: 200px;
  text-align: center;
}
.submitRatingButtonL {
  background-color: green;
  border: none;
  color: white;
  font-size: 16px;
  height: 40px;
  width: 200px;
  margin-top: 10px;
}
.button {
  /* background-color: white; */

  /* color: black; */
  font-size: 13px;
  height: 30px;
}
.submitRatingButtonA {
  background-color: red;
  border: none;
  color: white;
  font-size: 16px;
  height: 40px;
  width: 200px;
  margin-top: 10px;
}
.rating-stars {
  margin-left: 0px;
  font-size: 72px;
}

.displayedImage {
  width: 400px;
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  /* .sessionHolder {
    position: relative;
  } */

  h2 {
    margin: 0 !important;
    padding: 0 !important;
  }
  .displayedImage {
    width: 300px;
  }
  .app-container {
    float: center;
    margin: 0%;
  }

  .h2 {
    margin: 0;
  }
  /*needed to display the star and rate button on mobile phones*/
  .starSubmitContainer {
    height: 115px;
    position: fixed;
    bottom: 0%;
    width: 100%;
    background-color: white;
    opacity: 1;
  }
}

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .sessionHolder {
    /* float: center; */
    /* width: 800px; */
  }
  .displayedImage {
    width: 400px;
  }
  h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em !important;
    margin-block-end: 0.83em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    font-weight: bold;
  }
  .app-container {
    float: center;
    margin: 5%;
  }
  .starSubmitContainer {
    position: relative;
  }
}
