.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.column {
  float: left;
  width: 50%;
}
.row {
  margin: 5%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* .submitRatingButton {
  width: 100;
  height: 30;
} */
.button__container {
  margin-top: 200px;
  text-align: center;
}
.submitRatingButtonL {
  background-color: green;
  border: none;
  color: white;
  font-size: 16px;
  height: 40px;
  width: 200px;
}
.submitRatingButtonA {
  background-color: red;
  border: none;
  color: white;
  font-size: 16px;
  height: 40px;
  width: 200px;
}
.rating-stars {
  margin-left: 0px;
  font-size: 72px;
}

.displayedImage {
  width: 400px;
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .sessionHolder {
    position: relative;
  }
  .displayedImage {
    width: 300px;
  }
  .app-container {
    float: center;
  }

  .starSubmitContainer {
    position: absolute;
    bottom: 0;
  }
}

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .sessionHolder {
    /* float: center; */
    /* width: 800px; */
  }
  .displayedImage {
    width: 400px;
  }
  .app-container {
    float: center;
    margin: 5%;
  }
  .starSubmitContainer {
    position: relative;
  }
}
